
* {
}

/* Layout Formatting */

body {
    text-align: center;
    margin: 0;
}

#logo {
    width: 400px;
}

footer img {
    height: 100px;
    padding: 1rem 3rem;
}

footer {
    text-align: center;
}

#logobanner {
    background-color: rgb(133, 209, 250);
    width: 100%;
}

.container-width {
    min-width: 60rem;
    width: 60vw;
    display: inline-block;
    text-align: left;
}

#content {
    min-height: 35rem;
    display: inline-block;
    position: relative;
    margin: 1rem;
}

footer span {
    display: inline-block;
    position: relative;
    bottom: 4rem;
}

.buttons {
    background-color: rgb(230, 230, 230) ;
}

#button {
    background-color: rgb(47,198,51);
    border: none;
    color: white;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: .4s;
    cursor: pointer;
    border-radius: .5rem;
}
.buttonscontainer{
    position:relative;
    display:inline-block;
    left: 3rem;

}

#button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

    #button:hover {
        background-color: #4CAF50;
        color: white;
    }

/* Home Index Formatting */
.index-park-image {
    display: inline-block;
    width: 30rem;
    padding: 0;
    margin: 0;
}

.index-park-info {
    display: inline-block;
    width: calc(100% - 32rem);
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.index-park {
    position: relative;
    width: 100%;
    white-space:normal;
}