@model List<NPGeek.Web.Models.NationalPark>
@{
    ViewBag.Title = "National Parks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var park in Model)
{
    <div class="index-park">
        <img class="index-park-image" src="~/Content/img/parks/@(park.ParkCode.ToLower()).jpg" />

        <div class="index-park-info">
            <h2><a href="@Url.Action("ParkDetail", "Home", new { id = park.ParkCode })">@park.ParkName</a></h2>
            <p>@park.ParkDecription</p>
        </div>
    </div>
}
