@model List<NPGeek.Web.Models.NationalPark>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var park in Model)
{
    <img class="parkImage" src="~/Content/img/parks/@(park.ParkCode.ToLower()).jpg" />

    <div class="parkinfo">
       <h2>@park.ParkName</h2> 
       <p>@park.ParkDecription</p>





    </div>
}
